body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.produit1, .produit2, .produit3, .produit4 {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

img {
    width: 80%; /* Reduce the width of the images */
    height: auto;
    border: 2px solid red;
}

h3, p {
    font-size: 1.2em; /* Increase the font size of heading and paragraph */
}
